*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-size: 1.5rem;
    min-height: 200vh;
}



.outerContainer{
    border: 3px dashed #000;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;
    font-size: medium;
}

.innerContainer {
    border: 2px solid #73ad21;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;

}

.Box {
    width: 250px;
    height: 250px;
    color: black;
    padding: 1rem;
}


.absolute {
    background-color: greenyellow;
    position: absolute;
    left: 0;
    top: 0;
}

.relative {
    background-color: red;
    position: relative;
    top: 2rem;
    left: 39rem;
}

.fixed {
    background-color: chocolate;
    position: fixed;
    z-index: 1;
    right: 2rem;
    top: 1rem;

}

.static {
    background-color: cyan;
    position:static;
    margin: auto auto;
    

}

