*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: antiquewhite;
    height: 300vh;
    width: 300vw;
}

.nav {
    width: 100vw;
    height: 10%;
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.nav .box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

}

.nav .box2 {
    font-weight: 900;
}

.box1 {
    gap: 2rem;
}

.nav a {
    text-decoration: none;
}

a{
    color: black;
}

.box2 .odd a{
    color: azure;
}

.box2 .even {
    width: 100px;
}

a:hover {
    color: grey;
}

.box2 {
    padding-right: 15px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 15px;
    font-weight: 600;  
}

button {
    border: solid 1.3px;
    border-radius: 40px;
    width: 100px;
    height: 45px;
    font-size: 15px;
    font-weight: 600px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(243, 201, 201);
}

.odd a:hover {
    background-color: blanchedalmond;
}

.nav .box2 .odd:hover {
    background-color:rgb(198, 182, 185);
}

